{% include 'navbackoffice.html' %}

<div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
    <h1>Liste des  Plantes</h1>
    <a href="/plantes/create/" class="btn btn-success mb-3">Ajouter une nouvelle type plante</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Type Plante</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
          {% for plante in plantes %}
            <tr>
                <td>{{ plante.id }}</td>
                <td>{{ plante.nom }}</td>
                <td>{{ plante.description |truncatewords:10 }}</td>
                <td>{{ plante.type_plante }}</td>
                <td>
                  {% if plante.image %}
                  <img src="{{ plante.image.url }}" alt="{{ plante.nom }}" class="img-fluid mb-3 d-block mx-auto">
                  {% endif %}
                </td>
                <td>
                  <a href="/plantes/{{ plante.pk }}/" class="btn btn-info">Voir</a>
                    <a href="/plantes/{{ plante.pk }}/update/" class="btn btn-warning">Modifier</a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ plante.id }}">Supprimer</button>
                </td>
            </tr>

            <!-- Modal for delete confirmation -->
            <div class="modal fade" id="deleteModal{{ plante.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer le  plante "{{ plante.nom }}" ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <form action="{% url 'plante-delete' plante.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
    </div>
</div>
<!-- Include Bootstrap JS and CSS if not already included -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>