{% include 'navbackoffice.html' %}

<div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
    <h1>Détails du Plante</h1>
    
    <h2><strong>Nom:</strong> {{ plante.nom }}</h2>
    
    <p><strong>Description:</strong> {{ plante.description }}</p>
    <p><strong>Type Plante:</strong> {{ plante.type_plante }}</p>
    {% if plante.image %}
    <img src="{{ plante.image.url }}" alt="{{ plante.nom }}" class="img-fluid mb-3 d-block ">
    {% endif %}
    <a href="/plantes/{{ plante.pk }}/update/" class="btn btn-primary">Modifier</a>
    <a href="/plantes/" class="btn btn-secondary">Retour à la liste</a>
</div>
    </div>
</div>
<!-- Include Bootstrap CSS if not already included -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">