{% include 'navbackoffice.html' %}

<div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
    <h1>Liste des Produits de Contrôle</h1>
    <a href="/control-products/create/" class="btn btn-success mb-3">Créer un nouveau produit de contrôle</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>type</th>
                <th>Méthode d'application</th>
                <th>Efficacité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for control_product in control_products %}
            <tr>
                <td>{{ control_product.id }}</td>
                <td>{{ control_product.nom }}</td>
                <td>{{ control_product.type }}</td>
                <td>{{ control_product.méthode_application |truncatewords:10 }}</td>
                <td>{{ control_product.efficacité }}</td>
                <td>
                  <a href="/control-products/{{ control_product.pk }}/" class="btn btn-info">Voir</a>
                    <a href="/control-products/{{ control_product.pk }}/update/" class="btn btn-warning">Modifier</a>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{ control_product.id }}">Supprimer</button>
                </td>
            </tr>

            <!-- Modal for delete confirmation -->
            <div class="modal fade" id="deleteModal{{ control_product.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sûr de vouloir supprimer le  control product "{{ control_product.nom }}" ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <form action="{% url 'controlproduct-delete' control_product.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>
    </div>
</div>
<!-- Include Bootstrap JS and CSS if not already included -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>