

{% include 'navbackoffice.html' %}

<div class="container my-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
    <h1>Détails de Ravageur</h1>
    
    <h2 ><strong>Nom:</strong> {{ pest.nom }}</h2>
    <p ><strong>Description:</strong> {{ pest.description }}</p>
    <p ><strong>Type:</strong> {{ pest.get_type_display }}</p>
   
    {% if pest.image %}
    <img src="{{ pest.image.url }}" alt="{{ pest.nom }}" class="img-fluid mb-3 d-block ">
    {% endif %}
    <a href="/pests/{{ pest.pk }}/update/" class="btn btn-primary">Modifier</a>
    <a href="/pests/" class="btn btn-secondary">Retour à la liste</a>
</div>
    </div>
</div>
<!-- Include Bootstrap CSS if not already included -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
