

{% include "../navbackoffice.html" %}




{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center">{% if pest %}Modifier le ravageur{% else %}Ajouter un nouveau ravageur{% endif %}</h1>
     
      <form method="POST" enctype="multipart/form-data" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}


 

